
<div id="homeContent">
	
	<div class="container">

	<h3>A Friendly Group Of Runners</h3>
	<p>The Frimley Flyers are a reasonably new running group who all share the same passion for parkrun and local events. We vary considerably in ability, age and running experience.</p>

		<div class="row">
				<div class="col-sm-4">
						<div class="card">
							<img class="card-img-top rounded" src="./Images/runs.jpg" alt="Runs" />
							<div class="card-body">
								<h4 class="card-title">Runs</h4>
								<p class="card-text">We are all Frimley Park Lodge parkrunners. We also have regular Tuesday and Thursday night training runs</p>
								<a href="./runs.html" class="btn btn-primary">Run Information</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
				<div class="card">
					<img class="card-img-top rounded" src="./Images/ffchampionship.jpg" alt="FF Championship" />
					<div class="card-body">
						<h4 class="card-title">FF Championship</h4>
						<p class="card-text">The premier season long event, covering all distances. See the latest standings and future events</p>
						<a href="./ffchampionship.html" class="btn btn-primary">Points Grid</a>
					</div>
				</div>
			</div>
			<!--<div class="col-sm-4">
				<div class="card">
					<img class="card-img-top rounded" src="./Images/endure24.jpg" alt="Endure 24" />
					<div class="card-body">
						<h4 class="card-title">Endure 24</h4>
						<p class="card-text">Each year we send teams over to compete in the Glastonbury Event for runners</p>
						<a href="./endure24.html" class="btn btn-primary">Endure24 Info</a>
					</div>
				</div>
			</div>-->

		</div>
	</div>
</div>	
