<!-- $data is a ComponentViewModel -->
<div class="panel">
	<div class="panel panel-body">
		<table class="table">
			<tbody>
				<tr>
					<th>Name</th>
					<th>5km</th>
					<th>10km</th>
					<th>10miles</th>
					<th>Half Marathon</th>
					<th>parkrun</th>
				</tr>

				<!-- ko foreach: $data.competitors -->
				<tr>
					<td data-bind="text: $data.name"></td>
					<td data-bind="text: $data.time5km"></td>
					<td data-bind="text: $data.time10km"></td>
					<td data-bind="text: $data.time10miles"></td>
					<td data-bind="text: $data.timeHalf"></td>
					<td><a target="link" data-bind="attr : {href : $data.parkrunLink} "><img style="width:24px" src="/images/parkrunIcon.jpg" /></a></td>
				</tr>
				<!-- /ko -->
			</tbody>
			<caption data-bind="text: 'Correct as of 1st January ' + $component.seasonYear"></caption>
		</table>
	</div>
</div>
<span id="pbListEnd"></span>