<div stlye="display: block; height: 0; visibility: hidden; clear: both;">

	<p>For the past 3 years the Flyers have attended the Glastonbury for runners.</p>
	<a href="http://www.endure24.co.uk/" target="_new" class="btn btn-primary">Official Site</a>
	<div>

		<div>
			<h3>June 9th-10th 2018, Wasing Park</h3>
		</div>

		<div class="parallax img2017">
			<div style="background-color:transparent; font-family:'lato'; font-size:15px;color: #111;">
				<p>We have a record number of attendees. We're running 3 teams, each with 8 runners. The teams are still to be decided. It's likely to consist of one 'competitive' team of 8 and two 'fun' teams.</p>
				<h5>The Runners:</h5>
				<ul>
					<li>Adrian Keane-Munday</li>
					<li>Alan Bush</li>
					<li>Alasdair Nuttall</li>
					<li>Alex Halfacre</li>
					<li>Andy Poulter</li>
					<li>Anthony Madden</li>
					<li>Charmaine Long</li>
					<li>Chris Peddle</li>
					<li>Chris Tomlinson</li>
					<li>Darren Stone</li>
					<li>David Peddle</li>
					<li>Duncan Ball</li>
					<li>Ellie Elder</li>
					<li>Emma Malcolm</li>
					<li>James Ball</li>
					<li>Jim Laidlaw</li>
					<li>Jodie Raynsford</li>
					<li>Martin Gay</li>
					<li>Oli Peddle</li>
					<li>Paul Williams</li>
					<li>Rich Howden</li>
					<li>Susan Rodrigues</li>
					<li>Tom Churchill</li>
					<li>Zoe Stone</li>
				</ul>
				<p>Closer to the time, we'll have a 'high level' meeting down the pub to help organise roles and responsibilites!</p>
			</div>
		</div>


		<div class="parallax img2016">
			<div class="caption">
				<span class="border" style="background-color:transparent;font-size:25px;color: #0007f7;">LESS HEIGHT</span>
			</div>
		</div>

		<span id="endEndure24"></span>
	</div>
</div>