<!-- -->
<!-- -->
<!-- See http://codepen.io/vasansr/full/gPXJxB/ -->
<!-- -->
<!-- -->

<style>
	/*
	* Define the widths: play around with these to get a best fit.
	*/
	.table-row {
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		flex-grow: 0;
		-webkit-flex-grow: 0;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.text-base {
		flex-grow: 1;
		-webkit-flex-grow: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.text {
		width: 55px;
		min-width: 55px;
		max-width: 55px;
		text-align: right;
	}

	.points {
		font-weight: bold;
	}

	.competitor-name {
		min-width: 125px;
		max-width: 125px;
		width: 125px;
		text-align: left;
	}

	.num {
		width: 45px;
	}
	/*
	* General good-look styles, not mandatory.
	*/
	.table-row {
		border-bottom: 1px solid #e0e0e0;
		border-collapse: collapse;
		padding-top: 0px;
	}

		.table-row.header {
			background-color: #FFEEDB;
			font-weight: bold;
			padding-top: 8px;
			padding-bottom: 8px;
		}
</style>




<!-- $data is a LeagueTableComponentViewModel -->

<h3 data-bind="text: 'Results ' + $component.seasonYear" />

<!-- ko if: $component.initialized() -->
<div class="container-fluid">
	<!-- ko foreach: $component.tableRows --> 
	<div class="table-row">
		<!-- ko foreach: $data.cells -->
		<div class="text-base text" data-bind="
			 visible: $data.visible, 
			 text: $data.text, 
			 <!--css: $data.css, 
			 style: {'background-color': $data.backgroundColor ? $data.backgroundColor.toHexString(false) : null}">-->
		</div>
		<!-- /ko -->
	</div>
	<!-- /ko -->
</div>
<!-- /ko -->

	<p>&nbsp;</p>

	<!-- ko component: {name : 'rules'}-->
	<!-- /ko -->

