
<!-- this is a hack - however, cannot get to swap class values in knockout css binding or via jQuery toggle. This is fixed apparently in the latest version of knockout -->
<svg class="expandCollapseButton" viewBox="0 0 1024 768" data-bind="toggle: $data.toggleFlagObservable, visible: $data.toggleFlagObservable()">
    <use xlink:href="#collapse" />
</svg>

<svg class="expandCollapseButton expand" viewBox="0 0 1024 768" title="Expand" data-bind="toggle: $data.toggleFlagObservable, visible: !$data.toggleFlagObservable()">
    <use xlink:href="#collapse" />
</svg>
