
svg.expandCollapseButton {
        fill: #808080;
        width: 21px;
        cursor: pointer;
        height: 16px;
        vertical-align: text-bottom;
}

svg.expand.expandCollapseButton {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}