
<div class="panel">
	<div class="panel panel-heading">
		<!-- ko component: {name : 'expand-collapse-button', params: {toggleFlagObservable :$component.isCollapsed} } -->
		<!-- /ko -->
		Rules:
	</div>
	<div class="panel panel-body" data-bind="visible: !($component.isCollapsed())">
		<ol>
			<li>
				<span>Scoring per race: </span>
				<span data-bind="text: $component.pointsSchemeStringComputed"></span>
			</li>
			<li>
				<span>Scoring per series: Some races have a series of events, e.g. Yateley. Your best time out of all the runs completed in the series will be the scoring one.</span>
			</li>
			<li>
				<span>If your best effort is a Pb, then you'll be rewarded an additional </span>
				<span data-bind="text: $component.pointsPbBonusObservable"></span>
				<span> points. NOTE: The original pb will still be used to base performances.</span>
			</li>
			<li>
				<span>Scoring overall: Only your best </span> 
				<span data-bind="text: $component.takeNBestScoresObservable"></span>
				<span> scores are taken through out the season and count towards the final league table. This is allows you to potentially miss races without being penalized.</span>
			</li>
			<li>
				<span>Scoring is calculated on % difference from persons PB as at start of the year. e.g. if PB is 2 mins, and complete race in 2 mins 12 secs then that is a 10% difference (12 seconds out of 120 seconds).</span>
			</li>
		    <li>
		        <span>If a person beats their PB during the year then base PB is not changed. Calculations based on the PB time at start of the year.</span>
		    </li>
			<li>
				<span>Times are taken from the official timers (chip / barcode / web site) and not from personal timings.</span>
			</li>
			<li>
				<span>If you do not have a best time from the past season for a particular distance, then we shall use the <a href="https://www.runnersworld.co.uk/health/rws-race-time-predictor" target="new">Runners World Race Time Predictor</a> to estimate a time.</span>
			</li>
			<li>

				<span>You can join at any point during the season. However, any races missed will NOT be retrospectively recorded. An entry fee of £</span>
				<span data-bind="text: $component.entryCostObservable().toFixed(2)"></span>
				<span> and £5 for children (under 18) is required to cover costs.  The donation is to help with the small financial costs required to run the FF. It helps paying for the website hosting, parkrun cards / balloons, gazebos, FF flags, summer BBQ etc. So this donation does include the summer BBQ event.</span>
			</li>
			<li>
				<span>The 'tourist parkrun' is a special event that is open from 1st Feb to 30th November. You are allowed to submit any parkrun, any number of times outside of Frimley Lodge. So for example, you could run Sandhurst On the 1st Feb in 20 minutes dead and you submit that time to Martin, and you'll get recorded as a 'tourist parkrun' time. </span>
				<span>If later in the year you run Rushmoor in 19 minutes, then submit again and that will be recorded as your 'tourist parkrun' time, superseding the Sandhurst/20min time. So you can run 1 tourist run or 30 tourist runs at any time.</span>
			</li>
		</ol>
	</div>
</div>