body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer .facebook {
  padding: 3px; display: block; box-sizing: content-box; width: 30px; height: 30px
}

footer .icon
{
  width: 30px;
}

footer.whiteBkg
{
  background-color: white;
}

footer .relative
{
		position: relative
}
