<!-- $data is a ComponentViewModel -->

<script type="text/html" id="renderTDCella">
	<!-- $data is a Cell -->
	<td data-bind="attr: { 'colspan': $data.colSpan(),
							'rowSpan' : $data.rowSpan },
							css: $data.css, text: $data.text,
							style: {'background-color': $data.backgroundColor ? $data.backgroundColor.toHexString(false) : null}"></td>
</script>

<table class="leagueTable leagueTableMini">
    <tr>
        <th>Competitor</th>
		<th>Points</th>
    </tr>

	<!-- ko foreach: $data.tableRows -->
	<tr data-bind="template: { name: 'renderTDCella', foreach: $data.cells }"></tr>
	<!-- /ko -->
</table>
