@charset "UTF-8";

$gold : gold;
$silver: silver;
$bronze: #A67D3D;

table.leagueTable {
    border-collapse: collapse;
    border-spacing: 5px;
    border-style: ridge;
        
    

    .invisibleCell {
        display: none;
    }

    .visibleCell {
        display: table-cell;
    }

    tbody > tr {
        padding: 8px;

        td, th {
            text-align:center;
            padding: 8px;
            vertical-align: top;
        }

        /* Name column in bold */
        td:first-child {
            font-weight: bold
        }
    }

    td.bigger {
        font-size:larger;
    }
}

table.leagueTable.twoRowHeader
{
        /* line under the headings row */
    tr:nth-child(3) {
        border: solid;
        border-color: black;
        border-width: 0;
        border-bottom-width: 1px;
    }

    .points {
        font-weight: bolder;
        width: 100px;
    }

    th.race {
        cursor: pointer
    }
}

table.leagueTableMini
{
    font-size: 8px;
}
