<!-- $data is a LeagueTableComponentViewModel -->
<script type="text/html" id="renderTHCell">
	<!-- $data is a Cell -->
	<th data-bind="attr: { 'colSpan': $data.colSpan(), 'rowSpan' : $data.rowSpan }, css: $data.css, click: $component.toggleRaceDetails,style: {'background-color': $data.backgroundColor ? $data.backgroundColor.toHexString(false) : null}">
		<!-- ko if: !$data.raceHeading && $data.text -->
		<span data-bind="text: $data.text"></span>
		<!-- /ko -->
		<!-- ko if: $data.raceHeading && $data.text -->
		<a data-bind="text: $data.text"></a>
		<!-- /ko -->
		<!-- Output the toggle expand/collapse events button -->
		<!-- ko if: $data.isToggle -->
		<svg class="expandCollapseButton" viewBox="0 0 500 500">
			<use data-bind="attr : { 'xlink:href' : $data.colSpan() > 1 ? '#multicoltable' : '#singlecoltable' }" xlink:href="" />
		</svg>
		<!-- /ko -->

	</th>
</script>

<script type="text/html" id="renderTDCell">
	<!-- $data is a Cell -->
	<td data-bind="attr: { 'colspan': $data.colSpan(), 'rowSpan' : $data.rowSpan }, css: $data.css, style: {'background-color': $data.backgroundColor ? $data.backgroundColor.toHexString(false) : null}">
		<span data-bind="text: $data.text"></span>
	</td>
</script>

<p>&nbsp;</p>

<!-- ko if: $component.initialized-->
<div class="table-responsive">  <!-- puts a scrollbar on the table, without mucking up the jumbotron -->
<table class="table leagueTable twoRowHeader">
	<tr data-bind="template: { name: 'renderTHCell', foreach: $data.headingRows[0].cells }"></tr>
	<tr data-bind="template: { name: 'renderTHCell', foreach: $data.headingRows[1].cells }"></tr>
	<tr data-bind="template: { name: 'renderTHCell', foreach: $data.headingRows[2].cells }"></tr>

	<!-- ko foreach: $data.tableRows -->
	<tr data-bind="template: { name: 'renderTDCell', foreach: $data.cells }"></tr>
	<!-- /ko -->
</table>
</div>
<!-- /ko -->

	<p>&nbsp;</p>

<!-- ko component: { name: 'rules', params: { pointsSchemeObservable: $component.pointsSchemeObservable,
												pointsPbBonusObservable: $component.pointsPbBonusObservable,
												takeNBestScoresObservable: $component.takeNBestScoresObservable,
												entryCostObservable: $component.entryCostObservable}}-->
<!-- /ko -->

<span id="leagueTableEnd"></span>