
<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="index.html"><svg viewBox="0 0 512 512"><use xlink:href="#home"></use></svg>Home</a></li>

				<li><a href="/#runs.html"><svg viewBox="0 0 59 59"><use xlink:href="#runs"></use></svg>Runs</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<svg viewBox="0 0 31 31"><use xlink:href="#cup"></use></svg>Competitions <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/#ffchampionship">FF Championship 2022</a></li>
						<li><a href="/#ffchampionship2019">FF Championship 2019</a></li>
						<li><a href="/#ffchampionship2018">FF Championship 2018</a></li>
						<li><a href="/#fftrophy2018">FF Trophy</a></li>
						<li><a href="/#ffchampionship2017">FF Championship 2017</a></li>
					</ul>
				</li>

				<!--<li><a href="endure24.html"><svg viewBox="0 0 962 962"><use xlink:href="#endure24"></use></svg>Endure 24</a></li>-->
				<!--<li><a href="club.html"><svg viewBox="0 0 536 536"><use xlink:href="#club"></use></svg>Club</a></li>-->
			</ul>
		</div>
	</div>
</nav>