@charset "UTF-8";

$yellow: #E9AF44;
$purple: #313272;
                                       
@import '../Scripts/components/header/_header.scss';
@import '../Scripts/components/start/_start.scss';
@import '../Scripts/components/navigation/_navigation.scss';
//@import '../Scripts/components/ffchampionship/_ffchampionship.scss';
@import '../Scripts/components/expand-collapse-button/_expand-Collapse-Button.scss';
@import '../Scripts/components/races-main/_races-main.scss';
@import '../Scripts/components/svg-images/_svg-images.scss';
@import '../Scripts/components/endure24/_endure24.scss';
@import '../Scripts/components/leaguetable/_leaguetable.scss';

body {
    /*background: url('/images/background.jpg') no-repeat center center fixed;
    background-size: cover;*/
    font-family: Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
    color: $purple;
}

#homeContent .card {
	width: 20rem;
	min-height: 400px;
    max-height: 400px;
    margin-bottom: 30px;
}

h2 {
	background-color: $purple;
	color: $yellow;
	text-align: center;
	vertical-align: middle;
	/*padding: 10px;*/
	font-family: Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 30px;
	margin-top: -10px;
}

h2:after {
        position: relative;
        color: $purple;
        font-size: 30px;
        line-height: 1;
        margin-top: -30px;
        top: 24px;
        content: '\25BC';
        display: block;
        text-align: center;
        padding: 0;
}


.centralize {
    display: inline-block; 
    text-align: center
}

.main-container {
    margin-left: 30px;
    margin-right: 15px;
}