
<div class="container">
	<div class="row">

		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<img class="card-img-top rounded" style="width: 300px" src="./images/frimleylodgeparkrun.jpg" alt="Frimley Lodge parkrun" />
					<h4 class="card-title">Frimley Lodge parkrun</h4>
					<div class="card-text">
						<p>The nerve centre of the Frimley Flyers. We all started life as parkrunners. Not only do we run but some of us regularly volunteer for all sorts of roles. As a club we also get to do some pacing weeks for those who are feeling brave.</p>
						<a href="http://www.parkrun.org.uk/frimleylodge/" class="btn btn-primary" target="_new">Frimley Lodge parkrun</a>
					</div>
				</div>
			</div>
		</div>



		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<img class="card-img-top rounded" style="width: 300px" src="./Images/tuesdayruns.jpg" alt="Tuesday Runs" />
					<h4 class="card-title">Tuesday Runs</h4>
					<div class="card-text">
						<p>Various meeting points depending on what the consensus is. Start time 7pm. We normally do some interval training. Some favourite spots are Frimley Lodge Park, Frimley Rec, Farnborough Airport (Templer Avenue), Gun Hill, Deepcut Hill.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<img class="card-img-top rounded" style="width: 300px" src="./images/ratrun.jpg" alt="Tuesday Runs" />
					<h4 class="card-title">Thursday Runs</h4>
					<div class="card-text">
						<p>Various meeting points depending on what the consensus is. Start time 7pm. We normally do either a 5km or 11km starting from Ash Vale train station. Inevitably there are some that trot over to the Swan after. A club favourite, cheesey chips.</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<span id="endRuns"></span>